body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

img {
  display: block;
  margin: auto;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: aquamarine;
  text-decoration: none;

}

nav {
  text-align: center;
}
figcaption {
  font-size: 14px;
  text-align: center;
}

#featured-property p {
  width: 700px;
  text-align: center;
  margin: auto;
}

#details {
  display: block;
}
#details div {
  float: left;
  text-align: center;
  width: 25%;
  background-color: aquamarine;
}

